/* Map View Stylings */
html { height: 100%; }
body { height: 100%; margin: 0px; padding: 0; overflow: hidden;}
#map-canvas { height: 100%; width:100%; float:left; }

/* hover stats pie chart */
#pie-chart {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity:0.7;
  width: 400px;
  height: 300px;
  z-index: 1000;
}