/* Map View Stylings */
html { height: 100%; }
body { height: 100%; margin: 0px; padding: 0; overflow: hidden;}

#header {
  position:absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
  background-color: #020202;
  z-index: 3;
  color: #CCC;
  font-size: 20px;
  opacity:1.0;
}

#header span {
   margin: 0px;
   padding: 5px;
   float: left;
 }
#header img {
  margin: 0px;
  padding: 0px;
  float: left;
}

#map-canvas { height: 100%; width:100%; float:left; }

/* hover stats pie chart */
#pie-chart {
  position: absolute;
  top: 25px;
  left: 0px;
  opacity:1.0;
  width: 125px;
  height: 125px;
  z-index: 2;
}

/* map marker pop-up content */
.info-window {


}

#info-header {
  background-color: #020202;
  color: #CCC;
  font-size: 12px;
}

#info-content {
  background-color: #FCDCDC;
  color: #353535;
}